services:
#    tinydrive.api:
#        image: tinydrive.features
#        build:
#            context: .
#            dockerfile: src/TinyDrive.API/Dockerfile
    tinydrive.postgres:
        image: postgres:17
        restart: unless-stopped
        
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: tiny_drive
        
        volumes:
            - postgres_data:/var/lib/postgresql/data
        
        ports:
            - "5432:5432"
        
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 10s
            timeout: 5s
            retries: 5
    tinydrive.minio:
        image: minio/minio:latest
        restart: unless-stopped
        
        environment:
            MINIO_ROOT_USER: minio
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
        
        command: server /data --console-address ":9001"
        
        volumes:
            - minio_data:/data
        
        ports:
            - "9000:9000"
            - "9001:9001"
        
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
            interval: 30s
            timeout: 20s
            retries: 3

volumes:
    postgres_data:
    minio_data:

        
    
